



@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');




@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');








:root {

    --primary: #df424f;
     --light: #eeeeee;
     --dark: #161616;
     --red: #db2635;
   }
   
   
   
body{
	margin:0;
	padding:0;
	overflow-x: hidden;
  width: 100%;
  
}

*{
	box-sizing: border-box;
	margin:0;
	padding:0;

}

   
   
   .container {
       max-width: 100%;
       margin: 0 auto;
       
       display: flex;
       align-items: center;
       justify-content: space-between;
   }
   
   nav{
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 99;
   width: 100%;
   background-color: var(--dark);
   padding: 0px 32px;
   border-bottom: 3px solid #585757;
   
   
   font-family: 'BenchNine', sans-serif;
   
   
   
   
   }
   
   
   
    .menu {
     flex: 1;
   text-align: right;
   
   
   
       }
    .menu a {
   
   
       display: inline-block;
       list-style: none;
      
      margin: 0 20px;
      position: relative;
     
   
   
   
   
   }
   
   
   
   
       nav ul li::after {
   content: "";
   height: 2px;
   width: 0;
   position: absolute;
   left:0;
   bottom:-10px ;
   transition: 0.5s;
       }
       nav ul li:hover:after {
   
        width: 100%;
   
   
   
       }
       nav ul li a {
   text-decoration: none;
   
   
   font-size: 26px;
   
       }
   
   .menu{
   display: none;
   flex: 1 1 0%;
   justify-content: flex-end;
   margin: 0 1px;
   }
   .menu a {
     color: #818181;
   margin: 0 16px;
   font-weight: 599;
   text-decoration: none;
   transition:  0.4s;
   padding: 4px 16px;
   border-radius: 10px;
   font-size: 23px
   ;
   }
   .menu a.is-active:hover,  .menu a:hover {
       
    
       border-radius: 5px;
    
    
       color: var(--light);
       box-shadow: var(--light) 0 0 0 1px, transparent 0 0 0 0;
       background-color: var(--dark);
   }
   
   
   
   
   @media (min-width: 768px){
       .three-slash {
           display: none;
       }
   .menu {
       display: flex;
   }
   }
   
   
   .conatin {
   
   
   background-color: var(--dark);
   padding: 16px 32px;
   width: 100%;
   margin-bottom:0;
   padding: 3px;
   font-family: 'BenchNine', sans-serif;
   
   
   }
   .footer {
     background-color: var(--dark);
     padding: 20px 0;
     width: 100%;
     position: relative;
     bottom: 0;
     left: 0;
     right: 0;
     z-index: 1;
   
   }
   .row{
       display: flex;
       flex-wrap: wrap;
       
   }
    ul{
       list-style: none;
       
    }
    .footer-col {
       width: 25%;
   padding: 0 16px ;
   
    }
    .footer-col h4 {
     font-size: 18px;
     color: var(--light);
     text-transform: capitalize;
     margin-bottom: 30px;
     font-weight: 500;
     position: relative;
     font-family: 'Encode Sans Condensed', sans-serif;
     
     
     
      }
    .footer-col h4::before{
       content: '';
       position: absolute;
       left: 0;
       bottom: -10px;
       background-color: var(--primary);
       height: 2px;
       box-sizing: border-box;
       width: 20%;
   
    }
    .footer-col ul li:not(:last-child) {
   margin-bottom:10px ;
    }
    .footer-col ul li a {
       font-size: 16px;
       text-transform: capitalize;
       color: var(--primary);
       text-decoration: none;
       font-weight: 100%;
       
       display: block;
    }
    .footer-col a:hover {
   color: #8b8b8b;
   transition: 0.4s;
    }
    @media (max-width:767px) {
       .footer-col {
         width: 50%;
         margin-bottom: 30px;
       }
    }
   @media (max-width: 574px){
       .footer-col {
   width: 100%;
   
       }
   
   }
   
   
   
   
   
   
   
   
   main {
       width: 90vw;
       
       padding: 30px 20px;
       margin-bottom:10%;
   }
   .logo {
   width: 310px;
   margin-left: -61px;
   
   
   }
   .a {
   text-decoration: none;
   color: rgb(255, 255, 255);
       font-size: 16px;
       font-weight: 1px;
       letter-spacing: 2px;
       text-transform: uppercase;
       display: flex; 
     
   }
   
   body {
       font-family: 'Encode Sans Condensed', sans-serif;
      
     }
     
     .sidebar {
       height: 100%;
       width: 0;
       position: fixed;
       z-index: 1;
       top: 0;
      right:  0;
       background-color:var(--dark);
       
    
    
       overflow-x: hidden;
       transition: 0.5s;
       padding-top: 60px;
       
     }
     
     .sidebar a {
       padding: 8px 8px 8px 32px;
       text-decoration: none;
       font-size: 25px;
       color: #818181;
       display: block;
       transition: 0.3s;
       text-align: center;
    
     }
     
     .sidebar a:hover {
       color: var(--light);
       background-color: var(--primary);
       transition: all 0.4s;
     }
     
     .sidebar .closebtn {
       position: absolute;
       top: 26px;
       right: 93px;
       font-size: 36px;
       margin-left: 10px;
       background-color: var(--dark);
     }
     
     .sidebar .closebtn:hover {
       background-color:var(--dark);
     }
     .openbtn {
       font-size: 20px;
       cursor: pointer;
       
       background-color:var(--dark);
       color: var(--light);
       padding: 10px 15px;
       border: none;
     }
     
     .openbtn:hover {
       background-color: rgb(31, 31, 31);
     }
     
     #main {
       transition: margin-left .5s;
       padding: 16px;
     }
     
     /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
     @media screen and (max-height: 450px) {
       .sidebar {padding-top: 15px;}
       .sidebar a {font-size: 18px;}
     }
     .sidenav a, .dropdown-btn {
       padding: 6px 8px 6px 16px;
       text-decoration: none;
       font-size: 20px;
       color: #818181;
       display: block;
       border: none;
       background: none;
       width: 100%;
       text-align: left;
       cursor: pointer;
       outline: none;
       padding: 8px 8px 8px 32px;
       text-decoration: none;
       font-size: 25px;
      
       display: block;
       transition: 0.3s;
       text-align: center;
     }
     
     /* On mouse-over */
     .sidenav a:hover, .dropdown-btn:hover {
       color: #f1f1f1;
     }
     .dropdown-container {
       display: none;
       background-color: #262626;
       padding-left: 8px;
     
     }
   
     .dropdown-btn{
       font-family: 'Encode Sans Condensed', sans-serif;
     }
     
     
     .contact{
       padding:30px 0;
       background-color:  var(--dark);
    
      
     }
     
     .contact .content{
       -webkit-display: flex;
       display: flex;
       
     }
     
     .contact .content .box{
       flex:0 0 50%;
       max-width: 50%;
       
       padding: 15px;
     }
     
     .contact .content .form input,
     .contact .content .form textarea{
      height: 45px;
      width: 100%;
      padding:20px 60px;
      margin-bottom: 25px;
      background-color: transparent;
      border:1px solid #ffffff;
      border-radius: 7px;
      font-family: 'Encode Sans Condensed', sans-serif;
      color:#ffffff;
     }
     .contact .content .form input:focus,
     .contact .content .form textarea:focus{
      outline: none;
     }
     .contact .content .form input::placeholder,
     .contact .content .form textarea::placeholder{
       color:#ffffff;
     }
     .contact .content .form textarea{
       height: 100px;
     }
     
     .contact .content .form button{
       border:none;
       outline: none;
       box-shadow: none;
       height: 45px;
       padding:0px 50px;
       border:1px solid transparent;
       background-color: var(--primary);
       color:#ffffff;
       font-size: 15px;
       transition: all .5s ease;
       cursor: pointer;
     }
     .contact .content .form button:hover{
       background-color:transparent;
       color:#ffffff; 
       border-color: var(--primary);
     }
     
   
   
   
     .contact .content .text h2{
       font-size: 30px;
         font-weight: 500;
         color: var(--light);
         padding: 20px 0px 26px;
     }
    
     .contact .content .text .social {
       padding-top: 24px;
     }
     .contact .content .text .social a{
       height: 40px;
       width: 40px;
       line-height: 40px;
       text-align: center;
       background-color: var(--primary);
         text-decoration: none;  
         display: inline-block;
         margin-right: 10px;
         transition: all .5s ease;
         border:1px solid transparent;
         border-radius: 50px;
     } 
     
     .contact .content .text .social a:hover{
       background-color: var(--dark);
         border-color: var(--primary);
     }
     
     .contact .content .text .social a span{
       color:#ffffff;
       font-size: 20px;
     }
     
     .contact .content .text .copy{
       border-top:0.4px solid var(--light);
   width: 200px;
       margin-top: 50px;
       padding-top: 50px;
       color:var(--light);
       font-size: 15px;
     }
     
   
   
   .service .content{
    flex-wrap: wrap;
   }
   .service .content .box {
      flex: 0 0 100%;
      max-width: 100%;
   }
   .classes .content .class-items .item{
    flex-wrap: wrap;
   }
   
   
   .first-pic {
 
    
    margin: auto;
  
  width: 100%;
  height: 1100px;

  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(./960x11.jpg);
  background-color: #999999;
  
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  
  
  
  }
  


  
.hero-text {
width: 100%;

position: absolute;
top:45%;

text-align: center;
letter-spacing: 5px;

font-family: 'Bebas Neue', cursive;
color: white;



}


.her-button{
text-align: left;
  position: absolute;
  top: 90%;
  left: 10%;
  transform: translate(-50%, 100%);
  color: white;
 
  letter-spacing: 4px;
  font-weight: 200;
  max-width: 1170px;
  margin: auto;

}

  .red {

color: var(--dark);

  }


  .red:hover {

    color: var(--red);
    


      }
  
  html {
      
    font-family: "Montserrat";
    scroll-behavior: smooth;
  }

 
  #sec-2 {
    background-color: aliceblue;
  }
  .scroll-down {
    height: 50px;
    width: 30px;

    border: 2px solid rgb(255, 255, 255);
    position: absolute;
    left: 50%;
    bottom: 20px;
    border-radius: 50px;
    cursor: pointer;
  }
  .scroll-down::before,
  .scroll-down::after {
    content: "";
    position: absolute;
    top: 20%;
    left: 50%;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -100%) rotate(45deg);
    border: 2px solid rgb(255, 255, 255);
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 1s ease-in-out infinite;
  }
  .scroll-down::before {
    top: 30%;
    animation-delay: 0.3s;
    /* animation: scroll-down 1s ease-in-out infinite; */
  }
  
  @keyframes scroll-down {
    0% {
      /* top:20%; */
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    60% {
      opacity: 1;
    }
    100% {
      top: 90%;
      opacity: 0;
    }
  }


  .container3 {

    margin-top: 6%;

position: relative;

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 59px;

flex-wrap: wrap;

  }


  .container3 .card3 { 
position: relative;




  }

  .container3 .card3 .face {

    width: 350px;
height: 200px;
transition: 0.5s;

    
  }
  .container3 .card3 .face.face1  {

    width: 340px;
    height: 194px;
    margin-left: 5px;
    margin-bottom: 5px;
background-color: #000000;

display: flex;
justify-content: center;
align-items: center;
z-index: 1;
transform: translateY(100px);

  }
  .container3 .card3:hover .face.face1 {

    background-color: #000000;
    transform: translateY(0);

  }




  .container3 .card3 .face.face1 .content3 {


transition: 0.5s;




  }

  .container3 .card3 .face.face1 .content3 frame {

max-width: 100%;
border-radius: 10px;
  }



  




  
  .container3 .card3 .face.face2 {

position: relative;
background-color: var(--light);
border-radius: 10px;
display: flex;
justify-content: center;
align-items: center;
padding: 20px;
box-sizing: border-box;
transform: translateY(-100px);

  }






  .container3 .card3:hover .face.face2 {


    transform: translateY(0);


  }

  .container3 .card3 .face.face2 .content3 p {


margin: 0;
padding: 0;
font-family: 'Raleway', sans-serif;
font-weight: 600;
  }

  .container3 .card3 .face.face2 .content3 h3{

margin: 15px 0 0;
display: inline-block;
text-decoration: none;
font-weight: 200;
font-size: 20px ;
color: var(--red);
padding: 5px;
font-family: 'Roboto Condensed', sans-serif;



  }
  
  .hero-text3 {

    width: 100%;
margin-top: 16%;
    position: relative;
    bottom: -39% ;
  text-align: center;
  letter-spacing: 5px;
  
  font-family: 'Bebas Neue', cursive;
    color: rgb(0, 0, 0);


  }

  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.SM {

  width: 100%;
  height: 100%;
  
  margin-top: 120px;
  background-color: var(--dark);
  

  background-size: cover;
  
  }
  
  .container-Map {
  
  background-color: #161616;
  width: 100%;
  padding: 2%;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 2px;

  
  
  }
  
  .content-Map {
  
    font-size: 25px;
  
  background-color: #c8c7c7;
  padding: 3%;
  

  }

/* CSS */
.button-17 {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 18px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

.button-17:hover {
  background: #F6F9FE;
 
}

.button-17:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.button-17:focus {
  outline: none;
  border: 2px solid var(--red);
}

.button-17:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.button-17:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.button-17:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

a{

  text-decoration: none;
  color: #000000;

}


.courses-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
  margin-top: 5%;
  margin-bottom: 20%;
}

.course {
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	display: flex;
	max-width: 100%;
	margin: 20px;
	overflow: hidden;
	width: 1000px;
}

.course h6 {
	opacity: 0.6;
	margin: 0;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.course h2 {
	letter-spacing: 1px;
	margin: 10px 0;
}

.course-preview {
	background-color: var(--red);
	color: #fff;
	padding: 35px;
	max-width: 350px;
}

.course-preview a {
	color: #fff;
	display: inline-block;
	font-size: 12px;
	opacity: 0.6;
	margin-top: 30px;
	text-decoration: none;
}

.course-info {
	padding: 30px;
	position: relative;
	width: 100%;
}

.progress-container {
	position: absolute;
	top: 30px;
	right: 30px;
	text-align: right;
	width: 150px;
}

.progress {
	background-color: #ddd;
	border-radius: 3px;
	height: 5px;
	width: 100%;
}

.progress::after {
	border-radius: 3px;
	background-color: var(--red);
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 5px;
	width: 66%;
}

.progress-text {
	font-size: 10px;
	opacity: 0.6;
	letter-spacing: 1px;
}

.btn {
  background-color: var(--red);
	border: 0;
	border-radius: 50px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	color: #fff;
	font-size: 16px;
	padding: 12px 25px;
	position: absolute;
	bottom: 30px;
	right: 30px;
	letter-spacing: 1px;
}


@media screen and (max-width: 480px) {

	.social-panel-container.visible {
		transform: translateX(0px);
	}
	
	.floating-btn {
		right: 10px;
	}
}






.colour-block {
 background:var(--dark);
  width:100%;
  padding:7% 20% 10% 20%;
  color:#fff;
  margin-top: 15%;
}
.h1 {
  text-align:center;
  font-size:80px;
  font-family:'wire one', serif;
  font-weight:normal;
}
.p {
  font-size:20px;
  font-family:'Raleway', serif;
}




.skew-c{
  width:100%;
  height:100px;
  position:absolute;
  left:0px;
  background: linear-gradient(to left bottom, #fff 49%, var(--dark) 50%);
}