:root {

--primary: #df424f;
--light: #eeeeee;
--dark: #161616;
}




body {

   
    background-color: rgb(255, 255, 255);
width: 100%;


   

}

* {
margin: 0;
padding: 0;
box-sizing: border-box;


}



.container {

    max-width: 100%;
    margin: 0 auto;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

}


nav{
position: fixed;
top: 0;
left: 0;
right: 0;
z-index: 99;
width: 100%;
background-color: var(--dark);
padding: 16px 32px;
border-bottom: 3px solid var(--primary);

padding: 3px;

font-family: 'BenchNine', sans-serif;





}




 .menu {

  flex: 1;
text-align: right;




    }

 .menu a {



    display: inline-block;

    list-style: none;
   
   margin: 0 20px;

   position: relative;
  





}





    nav ul li::after {

content: "";
height: 2px;
width: 0;

position: absolute;
left:0;
bottom:-10px ;
transition: 0.5s;

    }

    nav ul li:hover:after {


     width: 100%;




    }

    nav ul li a {

text-decoration: none;



font-size: 26px;


    }


.menu{
display: none;
flex: 1 1 0%;
justify-content: flex-end;
margin: 0 1px;
}

.menu a {

  color: #818181;
margin: 0 16px;
font-weight: 599;
text-decoration: none;
transition:  0.4s;
padding: 4px 16px;
border-radius: 10px;
font-size: 23px
;

}
.menu a.is-active:hover,  .menu a:hover {
    
 

    border-radius: 5px;
 
 
    color: var(--light);
    box-shadow: var(--light) 0 0 0 1px, transparent 0 0 0 0;
    background-color: var(--dark);

}





@media (min-width: 768px){

    .three-slash {
        display: none;
    }
.menu {

    display: flex;
}

}



.conatin {


z-index: 99;
background-color: var(--dark);
padding: 16px 32px;
width: 100%;
bottom: 0;
padding: 3px;

font-family: 'BenchNine', sans-serif;



}
.footer {
background-color: var(--dark);
padding: 20px 0;
width: 100%;
position: relative;
bottom: 0;
left: 0;
right: 0;
z-index: 99;

}

.row{
    display: flex;
    flex-wrap: wrap;
    
}
 ul{

    list-style: none;
    

 }

 .footer-col {

    width: 25%;
padding: 0 79px ;


 }
 .footer-col h4 {

  font-size: 18px;
  color: var(--light);
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 500;
  position: relative;
  font-family: 'Encode Sans Condensed', sans-serif;
  
  
  
   }

 .footer-col h4::before{

    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: var(--primary);
    height: 2px;
    box-sizing: border-box;
    width: 20%;


 }

 .footer-col ul li:not(:last-child) {
margin-bottom:10px ;
 }

 .footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: var(--primary);
    text-decoration: none;
    font-weight: 100%;
    
    display: block;
 }

 .footer-col a:hover {
color: #8b8b8b;
transition: 0.4s;

 }

 @media (max-width:767px) {
    .footer-col {
      width: 50%;
      margin-bottom: 30px;

    }
 }
@media (max-width: 574px){

    .footer-col {
width: 100%;


    }


}









main {

    width: 90vw;
    
    padding: 30px 20px;
    margin-bottom:100%;
}

.logo {
width: 310px;
margin-left: -61px;



}

.a {

text-decoration: none;
color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 1px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: flex; 
  

}


body {
    font-family: 'Encode Sans Condensed', sans-serif;
   
  }
  
  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
   right:  0;
    background-color:var(--dark);
    
 
 
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    text-align: center;
 
  }
  
  .sidebar a:hover {
    color: var(--light);
    background-color: var(--primary);
    transition: all 0.4s;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 26px;
    right: 93px;
    font-size: 36px;
    margin-left: 10px;
    background-color: var(--dark);
  }
  

  .sidebar .closebtn:hover {

    background-color:var(--dark);

  }

  .openbtn {
    font-size: 20px;
    cursor: pointer;
    
    background-color:var(--dark);
    color: var(--light);
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: rgb(31, 31, 31);
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

  .sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
   
    display: block;
    transition: 0.3s;
    text-align: center;
  }
  
  /* On mouse-over */
  .sidenav a:hover, .dropdown-btn:hover {
    color: #f1f1f1;
  }

  .dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
  
  }


  .dropdown-btn{

    font-family: 'Encode Sans Condensed', sans-serif;

  }
  
  
  .contact{
    padding:30px 0;
    background-color:  var(--dark);
 
   
  }
  
  .contact .content{
    -webkit-display: flex;
    display: flex;

    
  }
  
  .contact .content .box{
    flex:0 0 50%;
    max-width: 50%;
    
    padding: 15px;
  }
  
  .contact .content .form input,
  .contact .content .form textarea{
   height: 45px;
   width: 100%;
   padding:20px 60px;
   margin-bottom: 25px;
   background-color: transparent;
   border:1px solid #ffffff;
   border-radius: 7px;
   font-family: 'Encode Sans Condensed', sans-serif;
   color:#ffffff;
  }
  .contact .content .form input:focus,
  .contact .content .form textarea:focus{
   outline: none;
  }
  .contact .content .form input::placeholder,
  .contact .content .form textarea::placeholder{
    color:#ffffff;
  }
  .contact .content .form textarea{
    height: 100px;
  }
  
  .contact .content .form button{
    border:none;
    outline: none;
    box-shadow: none;
    height: 45px;
    padding:0px 50px;
    border:1px solid transparent;
    background-color: var(--primary);
    color:#ffffff;
    font-size: 15px;
    transition: all .5s ease;
    cursor: pointer;
  }
  .contact .content .form button:hover{
    background-color:transparent;
    color:#ffffff; 
    border-color: var(--primary);
  }
  




  .contact .content .text h2{
    font-size: 30px;
      font-weight: 500;
      color: var(--light);
      padding: 20px 0px 26px;
  }

 

  .contact .content .text .social {
    padding-top: 24px;
  }
  .contact .content .text .social a{
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    background-color: var(--primary);
      text-decoration: none;	
      display: inline-block;
      margin-right: 10px;
      transition: all .5s ease;
      border:1px solid transparent;
      border-radius: 50px;
  } 
  
  .contact .content .text .social a:hover{
    background-color: var(--dark);
      border-color: var(--primary);
  }
  
  .contact .content .text .social a span{
    color:#ffffff;
    font-size: 20px;
  }
  
  .contact .content .text .copy{
    border-top:0.4px solid var(--light);
width: 200px;
    margin-top: 50px;
    padding-top: 50px;
    color:var(--light);
    font-size: 15px;
  }
